{% extends "post/posts_list.html" %}
{% load staticfiles %}
{% load humanize %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/post.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/comments.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/loading.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/quill.snow.css' %}" rel="stylesheet"/>
  <style>
    .ql-container.ql-snow {
       border: 0px; 
    }
    .ql-toolbar {
        display: none;
    }
  </style>
{% endblock %}
{% block post_list %}
<div class="row act-editor-row">
    <div id="act-editor">
      <div id="editor">
      </div>
    </div>
    {% if request.user == act_author %}
    <div id="act-intro-edit">
      <button type="button" id="act-edit-btn" class="btn btn-lg btn-primary act-intro-edit">Edit</button> 
    </div>
    {% endif %}
</div>
{% endblock %}
{% block extra_scripts %}
  <script>
  $.material.init();
  </script>
  <script src="{% static 'js/act/quill.js' %}"></script>
  <script src="{% static 'js/act/act_details.js' %}"></script>
  <script>
    // Don't show the details button in detail page.
    $(".details-act-btn").css("display", "none");
    var toolbarOptions = [
        [
            {'list': 'ordered'}, 
            {'list': 'bullet'}, 
            {'align': [] },
            {'header': [1, 2, 3, 4, 5, 6, false]}
        ],
        ['link', 'code-block', 'blockquote'],
        ['bold', { 'color': [] }],
        ['clean']                                         // remove formatting button
    ];
    var Link = Quill.import("formats/link");
    Link.sanitize = function(url) {
        if (url.match("^http")) {
            return url;
        }
        else
            return "http://" + url;

    }
    var editor = new Quill('#editor', {
       modules: {
         toolbar: toolbarOptions
       },
       readOnly: true,
       theme: 'snow'
    });
    {% if act_details.act_intro %}
        var act_intro = {{ act_details.act_intro|safe }};
        editor.setContents(act_intro);
    {% else %}
        var act_intro = "Nothing yet.\n";
        editor.setText(act_intro);
    {% endif %}
    $("#act-editor").data("quill", editor);
  </script>
{% endblock %}
