{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="activities_list_image">
    <img src="{{url}}activities_list_example.jpeg" />
</div>
<div class="activity-container container">
  <div class="activity_one">
    <!-- Public Activities -->
    <div class="activity_group">
      <div class="row">
      </div>
      <!-- end row -->
    </div>
    <!-- end group -->
  </div>
  <!-- end row -->
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/act/activities_ajax.js' %}"></script>
  <script>
  $.material.init();
  </script>
{% endblock %}


