{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/loading.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="uniform container">
  <!--<span class="text-center center-block glyphicon glyphicon-road" aria-hidden="true"></span> -->
  <div class="well col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
    <h2 class="create-text text-center" id="inter-create-act">Create Your Own Activity</h2>
    <hr>
    <form action="" method="POST" enctype="multipart/form-data" id="new-act-cover">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label sr-only" for="Cover Image">Cover Image</label>
        <div class="act-upload-div">
          <img id="act-upload-img" src="http://7xrexo.com1.z0.glb.clouddn.com/cover_act.png" />
        </div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <div class="upload-cover">
            <span class="btn btn-primary btn-file btn-block" id="act-cover-span"><span id="inter-upload-cover">Click To Upload</span>
            <input type="file" class="cropit-image-input" id="act-cover-image" name="act_cover" accept="image/*">
          </span>
        </div>
      </div>
    </form><!-- end form-cover -->
  <form method="POST" id="new-act-form">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
        <label for="act_type" class="control-label" id="inter-act-type">Act Type</label>
          {{ form.act_type }}
          <label id="act_type-error"  class="error" for="act_type">Group activity won't be shown in frontpage, but still can be search by activity id.</label>
      </div>
      <div class="form-group label-floating is-empty">
        <label for="act_title" class="control-label" id="inter-act-title">Act Title</label>
          {{ form.act_title }}
      </div>
      <div class="form-group label-floating is-empty">
        <label for="act_content" class="control-label" id="inter-act-content" >Act Content</label>
          {{ form.act_content }}
      </div>
      <div class="form-group form-group-loading">
        <div class="submit-btn-wrap">
          <button type="submit" class="submit-btn btn btn-primary btn-block" id="act-cover-btn" disabled><span class="glyphicon glyphicon-ok"></span></button>
        </div>
      </div>
    </form><!-- end form-cover -->
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'js/plugin/jquery.cropit.js' %}"></script>
  <script src="{% static 'js/plugin/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/plugin/hashids.min.js' %}"></script>
  <script src="{% static 'js/act/new_act.js' %}"></script>
  <script>
  $.material.init();
  </script>
  <script>
      window.onerror=function(msg){
        $("body").attr("JSError",msg);
      }
  </script>
{% endblock %}


