{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/loading.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="uniform container">
  <!--<span class="text-center center-block glyphicon glyphicon-road" aria-hidden="true"></span> -->
  <div class="well col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
    <h2 class="create-text text-center">Create Your Own Activity</h2>
    <hr>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label sr-only" for="Cover Image">Cover Image</label>
        <div class="act-upload-div">
          <img id="act-upload-img" src="https://o3e6g3hdp.qnssl.com/act_cover.jpg" />
        </div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <div class="upload-cover">
            <span class="btn btn-primary btn-file btn-block" id="act-cover-span"><span id="inter-upload-cover">Upload your Cover Image</span>
            <input type="file" class="cropit-image-input" id="act-cover-image" accept="image/*">
          </span>
        </div>
      </div>
    </form><!-- end form-cover -->
  <form method="POST" id="new-act-form">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
        <label for="act_type" class="control-label" id="inter-act-type">Act Type</label>
          {{ form.act_type }}
          <label id="act_type-error" class="error" for="act_type">This activity won't be shown in frontpage.</label>
      </div>
      <div class="form-group">
        <label for="act_licence" class="control-label" id="inter-act-license">Act License</label>
          {{ form.act_licence }}
          <label id="act_licence-error" class="error" for="act_licence">Free to share, adapt, but sharealike.
          </label>
          <a class="cc-icon glyphicon glyphicon-question-sign" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" aria-hidden="true"></a><p class="cc-icon-p">learn more</p>
      </div>
      <div class="form-group label-floating is-empty">
        <label for="act_title" class="control-label" id="inter-act-title">Act Title</label>
          {{ form.act_title }}
      </div>
      <div class="form-group label-floating is-empty">
        <label for="act_content" class="control-label" id="inter-act-content" >Act Content</label>
          {{ form.act_content }}
      </div>
      <div class="form-group form-group-loading">
        <div class="submit-btn-wrap">
          <button type="submit" class="submit-btn btn btn-primary btn-block" id="act-cover-btn"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
      </div>
    </form><!-- end form-cover -->
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/plugin/jquery.cropit.js' %}"></script>
  <script src="{% static 'js/plugin/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/plugin/hashids.min.js' %}"></script>
  <script src="{% static 'js/act/new_act.js' %}"></script>
  <script>
  $.material.init();
  </script>
  <script>
    jQuery.i18n.properties({ 
            name: 'base',// 资源文件名称
            path: '{% static 'international/' %}',// 资源文件所在目录路径
            mode: 'map',// 模式：变量或 Map 
            cache: false, 
            async: true,
            encoding: 'UTF-8', //文件编码方式
            callback: function() {// 回调方法
                $("#inter-upload-cover").text(jQuery.i18n.prop('act_upload_cover'));
                $("#inter-act-type").text(jQuery.i18n.prop('act_type'));
                $("#inter-act-license").text(jQuery.i18n.prop('act_license'));
                $("#inter-act-title").text(jQuery.i18n.prop('act_title'));
                $("#inter-act-content").text(jQuery.i18n.prop('act_content'));
                $("#inter-settings-details").text(jQuery.i18n.prop('settings_details'));
            } 
        });
  </script>
{% endblock %}


