{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/common.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/loading.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="uniform container">
  <!--<span class="text-center center-block glyphicon glyphicon-road" aria-hidden="true"></span> -->
  <div class="well col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
    <h2 class="create-text text-center">Create Your Own Activity<h2>
    <hr>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label class="control-label sr-only" for="Cover Image">Cover Image</label>
        <div class="image-editor">
          <div class="cropit-image-preview-container">
            <div class="cropit-image-preview"></div>
          </div>
          <div class="upload-cover">
            <span class="btn btn-primary btn-file btn-block" id="act-cover-span">Upload your Cover Image
              <input type="file" class="cropit-image-input" id="act-cover-image">
            </span>
          </div>
        </div> <!-- end image-editor -->
      </div>
    </form><!-- end form-cover -->
  <form action="" method="POST">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
        <label for="act_type" class="control-label">Act Type</label>
          {{ form.act_type }}
      </div>
      <div class="form-group">
        <label for="act_licence" class="control-label">Act License</label>
          {{ form.act_licence }}
      </div>
      <div class="form-group label-floating is-empty">
        <label for="act_title" class="control-label">Act Title</label>
          {{ form.act_title }}
        <span class="help-block">Please enter a valid act title</span>
      </div>
      <div class="form-group label-floating is-empty">
        <label for="act_content" class="control-label">Act Content</label>
          {{ form.act_content }}
        <span class="help-block">Please enter a valid act content</span>
      </div>
      <div class="form-group">
        <button type="submit" class="submit-btn btn btn-primary btn-block" id="act-cover-btn"><span class="glyphicon glyphicon-ok"></span></button>
      </div>
    </form><!-- end form-cover -->
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/plugin/jquery.cropit.js' %}"></script>
  <script src="{% static 'js/act/new_act.js' %}"></script>
  <script>
    $(function() {
      $('.image-editor').cropit({
        maxZoom: 1.5,
        imageState: {
          src: 'http://7xokch.com1.z0.glb.clouddn.com/ice678.png',
        },
      });
  
      $('.export').click(function() {
        var imageData = $('.image-editor').cropit('export');
        window.open(imageData);
      });
    });
  </script>
  <script>
  $.material.init();
  </script>
{% endblock %}


