{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/common.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/contect.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="carousel-img" src="http://7xokch.com1.z0.glb.clouddn.com/apple_inclusion_blue.png?imageView2/2/format/jpeg/interlace/1"  alt="...">
      <div class="carousel-caption">
          <h3><a href="#">Learn more</a></h3>
      </div>
    </div>
    <div class="item">
      <img src="http://7xokch.com1.z0.glb.clouddn.com/apple_inclusion.png?imageView2/2/format/jpeg/interlace/1" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="http://7xokch.com1.z0.glb.clouddn.com/apple_inclusion_yellow.png?imageView2/2/format/jpeg/interlace/1" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'js/plugin/frontpage.js' %}"></script>
{% endblock %}




