{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/post.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/personal.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/comments.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- container begin -->
<div class="personal-top">
  <!-- personal info begin -->
  <div class="personal-header">
    <div class="personal-avatar-div">
      <img class="personal-avatar-image" src="http://7xokch.com1.z0.glb.clouddn.com/uni-testred.png" />
      <p class="personal-avatar-p">{{ request.user.user_name }}</p>
      <input type="hidden" value={{request.user.id}} />
      <p class="personal-details">{{request.user.user_details}}</p>
    </div>
  </div>
</div>
<div class="comment-top container">
  <div class="comment-wrapper well col-lg-8 col-lg-offset-2">
  </div>
</div>
{% endblock %}
{% block script %}
  <script> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script src="{% static 'js/plugin/imageLoaded.min.js' %}"></script>
  <script src="{% static 'js/plugin/masonry.min.js' %}"></script>
  <script src="{% static 'js/comment/comment.js' %}"></script>
  <script>
      var reply_id = {{ request.user.id }};
      ajax_comment_list(reply_id, 1);
  </script>
  <script>
  $.material.init();
  </script>
{% endblock %}




