{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div id="front-matrix">
  <div id="intro">
    <h1>Unicooo</h1>
    <a href="{%url 'act_new' %}" class="front-btn">Create your own Activities</a>
  </div>
</div>
<div class="activity-container container">
  <!-- 加载loging效果 -->
  <!-- <div class="ball-scale">
    <div></div>
  </div> -->
  <div class="activity_one">
    <!-- Public Activities -->
    <div class="activity_group">
      <div class="row">
      {% for act in act_list %}
        <div class="single-act col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="act-container">
            <a href="{% url 'act_details' act.user.user_name act.act_title %}" class="thumbnail">
              <img src="{{ httpsUrl }}{{ act.act_thumb_url }}{{ imageStyle }}"  alt="">
          <div class="single-title">
            <p class="act-title">{{ act.act_title }}</p>
          </div>
          <div class="single-content">
            <p class="act-content">{{ act.act_content }}</p>
            <div class="fadeout"></div>
          </div>
         </a>
       </div>
      </div>
      {% endfor %}
    </div>
      <!-- end row -->
    </div>
    <!-- end group -->
  </div>
  <!-- end row -->
  <div class="col-lg-12 act-more ">
    <div>
      <a href="/act/public"><h4 class="text-center">Wanna see more</h4></a>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{% static 'js/common/frontpage.js' %}"></script>
  <script src="{% static 'js/plugin/jquery.particleground.min.js' %}"></script>
  <script>
  $('#front-matrix').particleground({
    //dotColor: '#ff0000',
    //lineColor: '#ff0000',
    //particleRadius: 5,
    //minSpeedX: 0.1,
    density: 13000,
    //curvedLines: false,
    //parallax: false,
    //lineWidth: 2,
    dotColor: '#ffffff',
    lineColor: '#dbdbdb',
    parallaxMultiplier: 10,
    proximity: 70,
  });
  </script>
{% endblock %}



