{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div id="front-matrix">
  <div id="intro">
    <h1>Unicooo</h1>
    <a href="{%url 'act_new' %}" class="front-btn">Create your own Activities</a>
    <a href="{%url 'question' %}" class="front-btn">Q&A</a>
  </div>
</div>
<div class="activity-container container">
  <!-- 加载loging效果 -->
  <div class="row front-page-row">
  </div>
</div>
<!-- end container -->
<div class="col-lg-12 act-more ">
    <div class="see-more-div">
      <a href="/act/public" id="see-more-btn" class="btn btn-xl btn-primary">Wanna see more</a>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'js/plugin/imageLoaded.min.js' %}"></script>
  <script src="{% static 'js/plugin/masonry.min.js' %}"></script>
  <script src="{% static 'js/common/frontpage.js' %}"></script>
  <script src="{% static 'js/common/act_post_list.js' %}"></script>
  <script src="{% static 'js/plugin/jquery.particleground.min.js' %}"></script>
  <script>

  </script>
  <script>
  $('#front-matrix').particleground({
    density: 13000,
    dotColor: '#ffffff',
    lineColor: '#dbdbdb',
    parallaxMultiplier: 10,
    proximity: 70,
  });
  </script>
{% endblock %}



