{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/post.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/personal.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- container begin -->
<div class="personal-top">
  <!-- personal info begin -->
  <div class="personal-header">
    <div class="personal-avatar-div">
      <img class="personal-avatar-image" src="http://7xokch.com1.z0.glb.clouddn.com/uni-testred.png" />
      <p class="personal-avatar-p">{{personal}}</p>
      <input type="hidden" value={{request.user.id}} />
      <p class="personal-details">{{request.user.user_details}}</p>
    </div>
  </div>
  <div class="btn-group-div">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
          <a class="btn btn-default" href="{% url 'settings' personal 'act_create' %}" id="act-create-btn" role="button"><span class="icon-right glyphicon glyphicon-pencil" aria-hidden="true"></span>Act</a>
      </div>
      <div class="btn-group" role="group">
        <a class="btn btn-default" href="{% url 'settings' personal 'act_join' %}" id="act-join-btn" role="button"><span class="icon-right glyphicon glyphicon-fire" aria-hidden="true"></span>Act</a>
      </div>
      <div class="btn-group" role="group">
        <a class="btn btn-default" href="{% url 'settings' personal 'post' %}" id="post-create-btn" role="button"><span class="icon-right glyphicon glyphicon-bookmark" aria-hidden="true"></span>Post</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  
  <div class="row">
  </div>

  <div id="post-details" class="modal fade" tabindex="-1" style="display: none">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Post details</h4>
          </div>
          <div class="modal-body">
            <div class="post-image-b">
              <img class="post-raw-details" />
            </div>
            <div class="post-border">
              <div class="post-title">
                <p class="post-user"></p>
              </div>
              <div class="post-posttime">  
                <p></p>
              </div>
            </div>
            <div class="post-content">
              <p class="post-content-p"></p>
            </div>
          </div>
          <div class="modal-footer">
            <!-- Key content display all comment -->
            <ul class="list-group">
            </ul>
            <div class="comment-form">
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label class="sr-only" for="" >Comment</label>
                  <input type="text" class="comment-form-text form-control" id="" placeholder="Please enter you comment">
                <h6 class="comment-form-length">140</h6>
                </div>
                <button type="button" id="add-comment-btn" class="btn btn-primary pull-right">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <script src="{% static 'js/plugin/imageLoaded.min.js' %}"></script>
  <script src="{% static 'js/plugin/masonry.min.js' %}"></script>
  <script src="{% static 'js/common/personal.js' %}"></script>
  <script src="{% static 'js/comment/comment.js' %}"></script>
  {% if status == "act_create" %}
    <script>
      var personal = "{{personal}}"
      personalActInit(personal);
    </script>
  {% elif status == "act_join" %}
    <script>
      var personal = "{{personal}}"
      personalActPostInit(personal);
    </script>
  {% else %}
    <script>
      var personal = "{{personal}}"
      personalPostInit(personal);
    </script>
  {% endif %}
  <script>
  $.material.init();
  </script>
{% endblock %}



