{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/settings.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/loading.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<!-- container begin -->
<div class="uniform container">
  <!-- signup_form begin -->
  <div class="well settings-form col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
      <div data-toggle="tooltip" data-placement="top" title="Click to change" class="avatar-label" class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6">
          <span class="avatar-settings" >
              {% if person.user_avatar %}
              <label for="avatar-input">
                <div class="settings-img-outer-wrapper">
                    <img src="{{ httpsUrl }}{{ person.user_avatar }}{{ imageStyle }}"/>
                </div>
              </label>
              {% else %}
              <label for="avatar-input">
                <div class="settings-img-outer-wrapper">
                  <div class="settings-img-wrapper">
                    <p class="avatar-settings-p">{{ person.user_name|slice:"1" }}</p>
                  </div> 
                </div>
              </label>
              {% endif %}
              <input id="avatar-input" type="file" accept="image/*">
          </span>
              <div class="progress">
                <div class="progress-bar"></div>
              </div>
          <span class="span-uni"><h3>{{ person.user_name }}</h3></span>
        <hr>
      </div>
    <div class="col-lg-12">
      <form method="POST" id="settings-form">
        <fieldset>
        {% csrf_token %}
          <div class="form-group">
            <label for="user_gender" class="control-label" id="inter-settings-gender">User Gender</label>
              {{ form.user_gender }}
          </div>
          <div class="form-group">
            <label for="user_details" class="control-label" id="inter-settings-details">User Details</label>
              {{ form.user_details }}
          </div>
          <div class="form-group form-group-loading">
            <div class="submit-btn-wrap">
              <button type="sumbit" class="submit-btn btn btn-primary btn-block" id="setting-btn"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
          </div>
        </fieldset>
      </form><!-- end form-cover -->
    </div>
  </div>
  <!-- form end -->
  </div>
</div>
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'js/plugin/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/common/settings.js' %}"></script>
  <script>
    $.material.init();
  </script>
  <script>
    jQuery.i18n.properties({ 
            name: 'base',// 资源文件名称
            path: '{% static 'international/' %}',// 资源文件所在目录路径
            mode: 'map',// 模式：变量或 Map 
            cache: false, 
            async: true,
            encoding: 'UTF-8', //文件编码方式
            callback: function() {// 回调方法
                $("#inter-settings-gender").text(jQuery.i18n.prop('settings_gender'));
                $("#inter-settings-details").text(jQuery.i18n.prop('settings_details'));
            } 
        });
  </script>
{% endblock %}



