#front-matrix {
    position: relative;
    height: 600px;
    background-color: #3f51b5;
}

.pg-canvas {
 opacity: .4;
}

#intro {
  position: absolute;
  left: 0;
  top: 30%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

#intro h1 {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    letter-spacing: 0.015em;
    color: white;
}

.front-btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.015em;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  opacity: .6;
  text-decoration: none;
  -webkit-transition: all 0.4s;
     -moz-transition: all 0.4s;
       -o-transition: all 0.4s;
          transition: all 0.4s;
}
.front-btn:hover {
  color: #fff;
  border-color: #fff;
  opacity: 1;
}

/*make modal vertically in center */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .modal-dialog {
      width: 300px;
      margin: 10px auto;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.image-size-label {
    margin-top: 10px;
}

.upload-cover {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

.glyphicon.glyphicon-road {
    font-size: 50px;
}

/* activitities */
.act-outer-container {
    padding:35px;
}

.act-inner-container {
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
}

.author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-p {
    font-size: 18px;
    font-style:italic;
    color: gray;
}

.act-container img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.act-intro {
    width: 100%;
}

.activity-container {
    margin-top: 80px;
}

.activity-details-content {
    position: relative;
}

.activity-license {
    position: absolute;
    right: 31px;
    top: 5px;
    color: gray;
}

@media only screen and (max-width: 568px) { 
    .activity-license {
        right: 5px;
    }

    .activity-license p {
        font-size: 5px; 
    }
}

@media only screen and (max-width: 320px) { 
    .activity-license {
        right: 5px;
    }
    
    .activity-license p {
        font-size: 5px; 
    }
}


.activities_list_image {
    margin-top: 60px;
}

.act-avatar-div {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c8c7cd;
    position: relative;
    padding-top: 8px;
}

.author-a {
    display: block;
}

.act-avatar-p {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}

.act-upload-div {
    display: block;
    margin: 0 auto;
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 499px;
}

@media only screen and (max-width: 568px) { 
    .act-upload-div {
        height: 230px;
    }
}

@media only screen and (max-width: 320px) { 
    .act-upload-div {
        height: 189px;
    }
}

.cc-icon {
    margin-left: 10px;
    color: #BDBDBD;
}

.cc-icon-p {
    margin-left: 4px;
    display: inline;
    color: #BDBDBD;
    font-weight: 400px;
}

#act-upload-img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
}

.activity-details-thumb-img a img {
    width: 100%;
}

@media only screen and (min-width: 1200px) { 
    .act-details-div {
        height: 18em;
    }

    .act-details-content {
        height: 16em;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) { 
    .act-details-div {
        height: 14em;
    }

    .act-details-content {
        height: 12em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) { 
    .act-details-div {
        height: 6em;
    }

    .act-details-content {
        height: 4em;
    }
}

@media only screen and (max-width: 568px) {
  #intro h1{
    font-size: 65px;
  }

  .front-btn {
    font-size: 15px;
  }

  .act-details-div {
    height: 20em;
  }

  .act-details-content {
    height: 6em;
  }

}

@media only screen and (max-width: 320px) {
 
  #intro h1 {
    font-size: 50px;
  }
  
  .front-btn {
    font-size: 10px;
  }

  .act-details-div {
    height: 20em;
  }

  .act-details-content {
    height: 6em;
  }

}

.act-details-div {
    border-top: 2px solid #2b6e90;
    max-height: 300px;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    content: "";
    position: relative;
}


.act-details-content {
    font-family: SimHei;
    color: #545454;
    line-height: 16pt;
    position:relative;
    line-height:1.5em;
    overflow:hidden; 
}

.author-div {
    position: absolute;
    right: 31px;
    bottom: 50px;
}

.single-act-border {
    margin-top: 0px;
    border: 1px solid #bfbfbf;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.act-content-wrapper {
    border-top: 2px solid #2b6e90;
    height: 120px;
    max-height: 200px;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    content: "";
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.single-content:before {
    content: '';
    width: 100%;
    height: 100%;    
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, rgba(230,160,21,0)), color-stop(1, rgb(230,160,21)));
}

.act-title-wrapper {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.act-author {
    margin-top: 8px;
    margin-right: 12px;
    color: #838383;
}

.act-title-p {
    margin: 0px;
    width: 100%;
    display block;
    overflow: hidden;     
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: SimHei;
    font-size: 20px;
    color: #545454;
}

.act-content-p {
    font-family: SimHei;
    color: #545454;
    line-height: 16pt;
    position:relative;
    line-height:1.5em;
    height:7.5em;
    overflow:hidden;
}

.join-act-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

#inter-personal-act {
    position: absolute;
    right: 0;
    bottom: 0;
}

.activities_list_image img {
    width: 100%;
}

.activity-details-thumb-a {
    display: block;
}

.activity-details-thumb-a img {
    width: 100%;
}

.activity-details-thumb {
    position: relative;
    background-color: white;
}

.act-details-content {
    min-height:100px;
}

@media only screen and (min-width: 569px) {
    .act-details-title {
       padding: 12px;
       font-size:32px; 
    }
}

@media only screen and (max-width: 568px) {
    .act-details-title {
       padding: 12px;
       font-size:18px; 
    }
}

@media only screen and (max-width: 320px) {
    .act-details-title {
       padding: 12px;
       font-size:18px; 
    }
}

.act-details-content {
   padding-top: 30px;
   background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpifPbs2X8GBGCE0nAxSUlJsBhAgAEAoWUE/8iu67gAAAAASUVORK5CYII=') transparent  repeat-x top left;
   font-size:16px; 
   word-wrap:break-word; word-break:normal;

}

.activity-details-thumb-img {
    padding: 0px;
}

.act-thumb-a {   
  display: block;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.act-thumb-a:hover {
    opacity: .8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.act-thumb-a img {
    width: 100%;
}

.fadeout {
    position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 



