/* for sign up/login button */
@keyframes btnhover
{
animation-duration: 1s;
0%   {background: white;}
100% {background: #48D1CC;}
}

@-webkit-keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } } 

@keyframes ball-scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

.ball-scale > div {
  background-color: yellow;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block;
  height: 60px;
  width: 60px;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
          animation: ball-scale 1s 0s ease-in-out infinite; }

/* frongpage auto change img */
@media (min-width: 1200px) {
    .thumbnail {
        width: 318px;
        height: 229px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .thumbnail {
        width: 251px;
        height: 181px;
    }
}

.thumbnail {
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
}


/* navbar */
.navbar {
    margin-bottom: 0px;
}

.navbar-brand img {
    width: 20px;
    height: 20px;
}

/* form in the signup and login */
.uniform {
    margin-top: 150px;
}

.input-group-addon {
    background-color: white;
}

.submit-btn:hover {
    animation-timing-function: linear;
    animation: btnhover 0.6s;
    animation-fill-mode: forwards;
}

.span-uni {
    text-align: center;
}

/* bootstrap input focut */
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #48D1CC;
    box-shadow: 0px;
    outline: 0 none;
}

input {
    position: relative;
    z-index: 10;
    display: block;
}

.export {
margin-top: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



