{% extends "base.html" %}
{% block content %}
<div style="height:1000px;">
    <p>hey</p>
</div>
{% endblock %}
{% block script %}
<script>
timeout = null;
$(window).scroll(function () {
  var target = Math.floor(($(window).height())*2/3);
      if (!timeout) {
          timeout = setTimeout(function () {
            clearTimeout(timeout);
            timeout = null;
            if ($(window).scrollTop() >= target) {
                console.log("made it"); 
            }
          }, 250);
      }
});
</script>
{% endblock %}

