{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
  <link href="{% static 'css/common.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/act.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/post.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="activity-container container">
  <div class="activity-details-thumb clearfix">
    <div class="activity-details-thumb-img col-sm-7 col-md-7 col-lg-7"> 
      <img src="{{ act_details.act_thumb_url }}" />
    </div>
    <div class="activity-details-content col-sm-5 col-md-5 col-lg-5">
      <p class="act-details-title text-center">{{ act_details.act_title }}</p>
      <hr>
      <p class="act-details-content">{{ act_details.act_content }}</p>
    </div>
  </div>

  <div id="posts-container">
  </div>
</div>

{% endblock %}
{% block script %}
  <script src="{% static 'js/plugin/imageLoaded.min.js' %}"></script>
  <script src="{% static 'js/plugin/jquery.masonry.min.js' %}"></script>
  <script src="{% static 'js/post/posts_ajax.js' %}"></script>
  <script>
  $.material.init();
  </script>
{% endblock %}
