/*make modal vertically in center */
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: contain;
    border: 5px solid #ccc;
    border-radius: 3px;
    width: 100%;
    height: 488px;
    margin: 0 auto;
    overflow: hidden;
}

.cropit-image-background {
    opacity: .2;
    cursor: auto;
}

.image-size-label {
    margin-top: 10px;
}

.upload-cover {
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}

.glyphicon.glyphicon-road {
    font-size: 50px;
}

/* activitities */
.single-act {
    padding:35px;
}

.act-container {
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    background-color: white;
}

.act-container img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.act-intro {
    width: 100%;
}

.activity-container {
    margin-top: 80px;
}

.activity-details-thumb-img a img {
    width: 100%;
}

.single-act-border {
    margin-top: 0px;
    border: 1px solid #bfbfbf;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.single-content {
    border-top: 2px solid #2b6e90;
    height: 120px;
    max-height: 200px;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    content: "";
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.single-content:before {
    content: '';
    width: 100%;
    height: 100%;    
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, rgba(230,160,21,0)), color-stop(1, rgb(230,160,21)));
}

.single-title {
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.single-title-empty {
    
}

.act-author {
    margin-top: 8px;
    margin-right: 12px;
    color: #838383;
}

.act-title {
    margin: 0px;
    width: 100%;
    display block;
    overflow: hidden;     
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: SimHei;
    font-size: 20px;
    color: #545454;
}

.act-content {
    font-family: SimHei;
    color: #545454;
    line-height: 16pt;
    position:relative;
    line-height:1.5em;
    height:7.5em;
    overflow:hidden;
}

#join-act-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.activities_list_image img {
    width: 100%;
}

.activity-details-thumb-a {
    display: block;
}

.activity-details-thumb {
    position: relative;
    background-color: white;
}

.act-details-content {
    min-height:100px;
}

.act-details-title {
   padding: 12px;
   font-size:32px; 
}

.act-details-content {
   font-size:16px; 
   padding-top: 30px;
   background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpifPbs2X8GBGCE0nAxSUlJsBhAgAEAoWUE/8iu67gAAAAASUVORK5CYII=') transparent  repeat-x top left;

}

.activity-details-thumb-img {
    padding: 0px;
}

.act-thumb-a {   
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.act-thumb-a:hover {
    opacity: .8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.fadeout {
    position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 

