.comment-outer-div{
    margin-top: 30px;
    height: 100%;
    position: relative;
    background-color: white;
    padding-top: 10px;
}

.comment-top {
    margin-top: 50px;
}

.comment-image-div{
    position: absolute;  
    top: 5px;
    left: 10px;
}

.comment-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.comment-author{
    margin-left: 80px;
    color: #2b6e90;
    font-style: italic;
}

.comment-content{
    margin-left: 70px;
}

.comment-time{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #bcbcbc;
    font-style: italic;
}
