body {
    background-color: #f2f2f2;
}

.modal {
    -webkit-overflow-scrolling: auto;
}

.footer-row {
    margin: 0 auto;
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:50%;
}

.navbar-form {
    box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    border-top: 0px;
    border-bottom: 0px;
}

.opacity8 {
    opacity: .8;
}

.navbar.navbar-inverse {
    background-color: #303f9f;
}


.footer-text {
    color: gray;
    font-weight: 400;
}

.front-footer {
    margin-top: 100px;
    height: 100px;
    border-top: 1px dotted #c8c7cd;
}

a:hover {
    text-decoration: none;
}

.thumbnail {
    border: 0px;
    padding: 0px;
}

.navbar-brand img {
    width: 20px;
    height: 20px;
}

/* form in the signup and login */
.uniform {
    margin-top: 100px;
}

.input-group-addon {
    background-color: white;
}

.submit-btn:hover {
    animation-timing-function: linear;
    animation: btnhover 0.6s;
    animation-fill-mode: forwards;
    background-color: #009688;
    color: white;
}

.span-uni {
    text-align: center;
}


.sign-up-thumb {
    width: 100%;
}

.login-thumb {
    width: 532px;
    height: 170px;
}

.base-circle {
    position: absolute;
    left: 30px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 99;
}
/* bootstrap input focut */
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #48D1CC;
    box-shadow: 0px;
    outline: 0 none;
}

input {
    position: relative;
    z-index: 10;
    display: block;
}

.export {
    margin-top: 10px;
}

.form-group label {
    font-size: 14px;    
}

.form-group-loading {
    margin-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal-footer {
    text-align: left;
}

.list-group .list-group-item {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-server-error-p {
    font-size: 15px;
    color: #f44336;
}

.form-server-error-span {
    color: #f44336;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 12px;
    margin-right: 4px;
}

.icon-right {
    margin-right: 5px;
}

.icon-big-right {
    margin-right: 30px;
}

.unfinished-image {
  opacity:0.6;    
}

.finished-image {
  opacity:1;    
}

.page-error {
    font-size: 40px;
}

#create-act {
    margin-bottom: 20px;
}

.act-search, .input-group-addon {
    cursor: pointer;
}

