.blue {
    color: gray;
}

.personal-header {
    background-color: white;
    height: 290px;
}

.personal-top {
    margin-top: 60px;
}

.personal-post {
    margin-top: 20px;
}

.btn-group {
    margin: 0;
}

.personal-header {
    text-align: center;
}

.personal-avatar-div {
    margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 20px;
}

.personal-avatar-div img {
    border-radius: 50%;
}

.personal-avatar-image {
    width: 160px;
    height: 160px;
}

.personal-avatar-p {
    font-size: 30px;
}


