.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.single-content-post {
    border-top: 2px solid #2b6e90;
    max-height: 200px;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.post-upload-img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-image-b {
    width: 100%;
}

.post-raw-details {
    width: 100%;
}

#posts-container {
    margin: 0 auto;
    min-height: 300px;
}

.post-container {
    margin-top: 20px;
}

.post-container-col {
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.post-container-col img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post-container-img {
    width: 100%;
}

.post-container-col a {
    display: block;
}

.post-content {
    width: 100%;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpifPbs2X8GBGCE0nAxSUlJsBhAgAEAoWUE/8iu67gAAAAASUVORK5CYII=') transparent  repeat-x top left;
}

.post-content-p {
    max-height: 200px;
    padding: 15px;
    height: 100%;
    font-size: 1.1em;
    word-wrap:break-word; word-break:normal; 
}

.post-details-a {
}

.post-details-content-p {
    max-height: 200px;
    padding: 15px;
    height: 100%;
    font-size: 1.1em;
    word-wrap:break-word; word-break:normal;
}

.post-details-user {
    margin-bottom: 0px;
    color: gray;
}

.post-border {
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 5px solid #2b6e90;
    position: relative;
}

.post-user {
    margin-bottom: 0px;
    color: gray;
}

.post-posttime-p {
    color: gray;
}

.post-details-posttime {
    color: gray;
}

.post-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    height: 20px;
}

.post-like {
    position: absolute;
    right: 10px;
    color: #999;
    width: 50px;
}

.post-like-details {
    position: absolute;
    right: 20px;
    top: 8px;
}

.glyphicon-link {
    font-size: 2rem;
    color: #2b6e90;
}

.post-url-details {
    position: absolute;
    right: 80px;
    top: 8px;
}

.post-like-details:hover{
    cursor: pointer;
}

.post-like-details .glyphicon {
    font-size: 2rem;
    color: #FF6666;
}

.post-like-p {
    margin-left: 4px;
    display: inline;
}

.post-comment {
    position: absolute;
    right: 70px;
    color: #999;
    width: 50px;
}

.post-delete-p {
    color: red;
}

.post-comment-p {
    margin-left: 4px;
    display: inline;
}

.post-raw-details {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

.post-content-b {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 5px solid #2b6e90;
}

.post-content-b-user {
    margin-bottom: 0px;
}

.audio-div {
    height: 100px;
    background-color: white;
    text-align: center;
}

.audio-div-wrapper {
    padding-top: 80px;
}

@media only screen and (min-width: 569px) { 
    .audio-div-p {
        margin: 0 auto;
        width: 300px;
        color: gray;
        font-size: 50px;
        font-weight: 500;
        word-wrap:break-word; 
        word-break:normal; 
    }

    .audio-div-p-small {
        margin: 0 auto;
        width: 300px;
        color: gray;
        font-size: 30px;
        font-weight: 500;
        word-wrap:break-word; 
        word-break:normal; 
    }
}


@media only screen and (max-width: 568px) { 
    .audio-div-p {
        margin: 0 auto;
        width: 258px;
        color: gray;
        font-size: 40px;
        font-weight: 500;
        word-wrap:break-word; 
        word-break:normal; 
    }

    .audio-div-p-small {
        margin: 0 auto;
        width: 258px;
        color: gray;
        font-size: 30px;
        font-weight: 500;
        word-wrap:break-word; 
        word-break:normal; 
    }
}

@media only screen and (max-width: 320px) { 
    .audio-div-p {
        margin: 0 auto;
        width: 258px;
        color: gray;
        font-size: 30px;
        font-weight: 500;
        word-wrap:break-word; 
        word-break:normal; 
    }

    .audio-div-p-small {
        margin: 0 auto;
        width: 258px;
        color: gray;
        font-size: 20px;
        font-weight: 500;
        word-wrap:break-word; 
        word-break:normal; 
    }
}

.post-form-url {
    display: none;
}

.audio-div-audio {
    width: 100%;
}

audio {
    opacity: .8;
}

.feed-container {
    margin-top: 200px;
}

.act-fadeout {
    position: relative; 
    bottom: 2em;
    height: 8em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 

.feed-empty {
    font-size: 2em;
}
