.single-content-post {
    border-top: 2px solid #2b6e90;
    max-height: 200px;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#post-upload-img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-image-b {
    width: 100%;
}

.post-raw-details {
    width: 100%;
}


#posts-container {
    margin: 0 auto;
    min-height: 300px;
}

.post-container {
    margin-top: 20px;
}

.post-container-col {
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}

.post-container-col img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post-container-img {
    width: 100%;
}

.post-container-col a {
    display: block;
}

.post-content {
    width: 100%;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABxJREFUeNpifPbs2X8GBGCE0nAxSUlJsBhAgAEAoWUE/8iu67gAAAAASUVORK5CYII=') transparent  repeat-x top left;
}

.post-content-p {
    max-height: 200px;
    padding: 15px;
    height: 100%;
    font-size: 1.1em;
    word-wrap:break-word; word-break:normal; 
}

.post-details-content-p {
    max-height: 200px;
    padding: 15px;
    height: 100%;
    font-size: 1.1em;
    word-wrap:break-word; word-break:normal;
}

.post-details-user {
    margin-bottom: 0px;
    color: gray;
}

.post-border {
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 5px solid #2b6e90;
}

.post-user {
    margin-bottom: 0px;
    color: gray;
}

.post-posttime-p {
    color: gray;
}

.post-details-posttime {
    color: gray;
}

.post-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    height: 20px;
}

.post-like {
    position: absolute;
    right: 10px;
    color: #999;
    width: 50px;
}

.post-like-p {
    margin-left: 4px;
    display: inline;
}

.post-comment {
    position: absolute;
    right: 70px;
    color: #999;
    width: 50px;
}

.post-comment-p {
    margin-left: 4px;
    display: inline;
}

.post-raw-details {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

.post-content-b {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 5px solid #2b6e90;
}

.post-content-b-user {
    margin-bottom: 0px;
}


